{%extends 'base.html'%}

{%load static%}

{%block content%}


    <form action="" method="post">
        {% csrf_token %}
        <p style="color:red;">{{edit_form.non_field_errors}}</p>
        {%for field in edit_form %}
            <div>
                <small style="color:red;">{{field.errors}}</small>
                <label for="">{{field.label_tag}}</label>
                {{field}}
            </div><br>
        {%endfor%}    

        <input type="submit" value="Edit Post">
    </form>
{%endblock content%}